.content {
  width: 100%;
  min-width: 380px;
  margin: 0 auto;
  min-height: calc(100vh - 103px);
}

.modal {
  display: none;
}

.modal-active {
  display: block;
}

.box_shadow {
  position: fixed;
  background: #050505;
  top: 0;
  opacity: 0.5;
  border: none;
  padding: 0;
  outline: none;
  width: 100vw;
  margin: 0;
  height: 100vh;
  z-index: 2;
}

.add-cat {
  position: fixed;
  background: #d0a2a2;
  top: 0;
  bottom: 0;
  width: 96px;
  height: fit-content;
  line-height: 40px;
  margin: auto;
  border-radius: 0 10px 10px 0;
  font-size: 21px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.add-cat:hover {
  background: #ba7f7f;
}

.add-cat_remove {
  display: none;
}
