.search__bar {
  width: 250px;
  position: relative;
  display: flex;
  height: 40px;
}

.search__bar input {
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 2px solid #111d5e;
  border-radius: 15px 0 0 15px;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: rgb(64, 33, 28);
  background: none;
}

.search__bar button {
  background: url(../../../assets/img/icon-loupe.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  border-radius: 0 15px 15px 0;
  border: 2px solid #000;
  cursor: pointer;
  padding: 0;
}

.search__bar input::-webkit-search-cancel-button {
  appearance: none;
  background: url(../../../assets/img/icon_close.png);
  background-size: 14px 14px;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-right: 5px;
}
